
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #752a49;
}
h1 {
    color: #5c2d2d;

}

header {
    height: 10vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #e8d2c3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1000;
    margin-top: -35px;
    width: 100%;
    

}

.gallery-container {
    display: flex;
    justify-content: space-between;
    height: 90vh;
    margin: 20px 0;
    padding: 0 10px; 
}

.gallery-item {
    flex: 1;
    margin: 0 10px;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: transform 0.3s ease, filter 0.3s ease;
    border-radius: 20px;
    height: 100%;
}

.gallery-item:hover {
    transform: scale(1.1);
    z-index: 1;
}

.gallery-item:not(:hover) {
    filter: blur(2px);
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
}

.overlay h3, .overlay ul {
    margin: 0;
    padding: 0;
    list-style: none;
}