/* Estilos globais */

* {
    box-sizing: border-box;
}


body {
    margin: 0;
    font-family: sans-serif;
    overflow-x:hidden ;
    background-image: url(/assets/fundorosa.jpg);
    
}



.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.menu li {
    display: inline;
}

.pass-hoove:hover {
    text-decoration: underline;
}

.menu a {
    text-decoration: none;
    color: #5c2d2d;
    font-weight: bold;
}

.header-right button {
    background-color: #d89a94;
    border: none;
    color: white;
    font-size: 14px;
    padding: 5px 10px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
}


h1 {
    font-size: 2.5rem;
    margin: 20px 0;
    margin-right: 800px;
}


#inscreve {
    margin-left: 20px;
}
 
.input {
    width: 40%;
    height: 30px;
    border-radius: 10px;
    border: none;

}
fieldset {
    border: none;
}

.button-in {
    width: 18%;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(141, 206, 43);
    border: none;

}

.button-in:hover {
    background-color:  rgb(101, 148, 30);
}

footer {
    background-color: #752a49;
    color: #fff;
    padding: 20px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section p, .footer-section a {
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
}

.footer-section form {
    display: flex;
    flex-direction: column;
}

.footer-section input {
    padding: 5px;
    margin-bottom: 10px;
    font-size: 14px;
}

.footer-section button {
    padding: 5px;
    background-color: #555;
    color: #fff;
    border: none;
    cursor: pointer;
}

.footer-section button:hover {
    background-color: #777;
}